.card-wraper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(122, 122, 122, 0.5);
  margin: 0 0 5px 0;
  padding: 5px;
  border-radius: 10px;
  width: fit-content;
}

.card-wraper p {
  margin: 5px 0 0 0;
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}
