:root {
  --card-border-color: #260101;
  --card-background-color: rgba(191, 128, 105, 0.5);
  --card-font-color: #260101;
  --card-shadow-color: rgba(38, 1, 1, 0.7);
  --card-hover-background-color: rgba(191, 128, 105, 0.7);
}

.card-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--card-background-color);
  margin: 2px;
  padding: 5px;
  border-radius: 10px;
  border: 1px solid var(--card-border-color);
  width: fit-content;
  color: var(--card-font-color);
  box-shadow: 1px 1px 5px var(--card-shadow-color);
  cursor: pointer;
  font-size: 18px;
}

.card-wrapper:hover {
  background-color: var(--card-hover-background-color);
  box-shadow: 1px 1px 7px var(--card-shadow-color);
}

.card-wrapper:active {
  background-color: var(--card-hover-background-color);
  transform: scale(0.95);
}

.card-wrapper p {
  margin: 5px 0 0 0;
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  border: 1px solid var(--card-border-color);
}

@media (max-height: 1340px) {
  img {
    width: 230px;
    height: auto;
  }
}

@media (max-height: 1275px) {
  img {
    width: 200px;
    height: auto;
  }
}

@media (max-height: 1140px) {
  img {
    width: 170px;
    height: auto;
  }
  .card-wrapper {
    font-size: 16px;
  }
}

@media (max-height: 1020px) {
  img {
    width: 150px;
    height: auto;
  }
}
